@using TwoStu.Logic.Entities
@model IEnumerable<Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Список разделов по предметам</h2>

<p>
    <strong>
        @Html.ActionLink("[Создать новый раздел]", "Create")
    </strong>
</p>
<table class="table table-bordered table-striped">
    <tr>
        
        <th>
            Название предмета
        </th>
        <th>
            Разделы предмета
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (Subject subject in Model) {
    <tr>
        
        <td>
            <strong>
                @subject.Name
            </strong>
        </td>
        <td>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <strong>
                            Название раздела
                        </strong>
                    </td>
                    <td>
                        <strong>
                            Действия
                        </strong>
                    </td>
                </tr>
                    @foreach(SubjectSection subjSection in subject.SubjectSections)
                    {
                        <tr>
                            <td>
                                <strong>
                                    @subjSection.Name
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    
                                    <a href="/SubjectSections/Details/@subjSection.Id">[Подробнее]</a>
                                    <a href="/SubjectSections/Edit/@subjSection.Id">[Редактировать]</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="/SubjectSections/Delete/@subjSection.Id">[Удалить]</a>
                                    }
                                </strong>
                            </td>
                        </tr>
                    }
                
            </table>
        </td>
        <td>
            <p>
                <strong>
                    <a href="/Subjects/Edit/@subject.Id">[Редактировать предмет]</a>
                </strong>
            </p>
            <p>
                <strong>
                    <a href="/Subjects/Details/@subject.Id">[Подробнее о предмете]</a>
                </strong>
            </p>
            
        </td>
    </tr>
}

</table>

<hr />
@Html.ActionLink("К списку предметов", "Index", "Subjects")